@import './interface/style';

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: silver;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stage {
  width: 100%;
  height: 100%;
}