doctype html
html
  head
    title Quack
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js")
    script(type="text/javascript" src="/scripts/three.js")
    script(type="text/javascript" src="/scripts/tween.min.js")
    script(type="text/javascript" src="/scripts/sparks.js")
    script(type="text/javascript" src="/scripts/OBJLoader.js")
    script(type="text/javascript" src="/scripts/JSONLoader.js")
    script(type="text/javascript" src="/scripts/MTLLoader.js")
    script(type="text/javascript" src="/scripts/OBJMTLLoader.js")
    script(type="text/javascript" src="/scripts/DecalGeometry.js")
    script(type="text/javascript" src="/main.js")
    link(rel="stylesheet" href="/style.css")
  body
