doctype html
html
  head
    title Quack
    script(type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.js")
    script(type="text/javascript" src="/three.js")
    script(type="text/javascript" src="/main.js")
    link(rel="stylesheet" href="/style.css")
  body
