doctype html
html
  head
    title Quack
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js")
    script(type="text/javascript" src="/three.js")
    script(type="text/javascript" src="/OBJLoader.js")
    script(type="text/javascript" src="/JSONLoader.js")
    script(type="text/javascript" src="/MTLLoader.js")
    script(type="text/javascript" src="/OBJMTLLoader.js")
    script(type="text/javascript" src="/DecalGeometry.js")
    script(type="text/javascript" src="/main.js")
    link(rel="stylesheet" href="/style.css")
  body
