doctype html
html
  head
    title Quack
    link(rel="stylesheet" href="/style.css")
  body
    div(id="mainStart")
      h1 Welcome to Quack
      form(action="rooms/")
        ul
          li
            label(for="room") Room name
            input(type="text", name="roomName", placeholder="Leave empty to join random", autofocus)
          li
            label(for="maxPlayers") Max players
            input(type="number", name="maxPlayers", value="8", min="1", step="1")
          li
            input(type="submit", value="Join Room")
